# New York City Dog Data: Data preparation

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href='#datacleanup'>Data Cleanup</a></li>
<li><a href='#import'>Importing into SQL</a></li>
</ul>

<a id='intro'></a>
## Introduction

This project demonstrate using Python (Pandas) to clean up data before importing to MySQL.
Later half will walk through SQL to invesitgate data.

### Data Source
The original data, NY_Dogs _ WNYC.csv, can be found <a href='https://fusiontables.google.com/data?docid=1pKcxc8kzJbBVzLu_kgzoAMzqYhZyUhtScXjB0BQ#rows:id=1'>here - "Dogs of NYC | WNYC"</a>. It is from NYC Dept of Health and Mental Hygiene, 2013.

I found the link from "<a href = 'https://www.kaggle.com/new-york-city/nyc-dog-names'>NYC Dog Names</a>"  data set on <a href='https://www.kaggle.com/'>Kaggle</a>

### Tools
<ul>
    <li>MySQL 
    <li>HeidiSQL
    <li>Python
    <li>Pandas
</ul>

<a id='datacleanup'></a>
## Data Cleanup

I used Pandas dataframe to quickly scan data and break the CSV files per each borough.

The original data has 11 columns and 81542 rows. Distribution is as below.

<ul>
<li>Bronx             9280</li>
<li>Brooklyn         19324</li>
<li>Manhattan        26015</li>
<li>Queens           17489</li>
<li>Staten Island     9378</li>
</ul>

In [1]:
# Import pandas library
import pandas as pd

In [2]:
# Read in the original CSV file
df = pd.read_csv('CSV_files\\NY_Dogs_WNYC.csv')

In [3]:
# Confirm that the data has been loaded.
df.head(5)

,dog_name,gender,breed,birth,dominant_color,secondary_color,third_color,spayed_or_neutered,guard_or_trained,borough,zip_code
0,Buddy,M,Afghan Hound,Jan-00,BRINDLE,BLACK,NaN,Yes,No,Manhattan,10003
1,Nicole,F,Afghan Hound,Jul-00,BLACK,NaN,NaN,Yes,No,Manhattan,10021
2,Abby,F,Afghan Hound,Nov-00,BLACK,TAN,NaN,Yes,No,Manhattan,10034
3,Chloe,F,Afghan Hound,Jan-02,WHITE,BLOND,NaN,Yes,No,Manhattan,10024
4,Jazzle,F,Afghan Hound,Oct-02,BLOND,WHITE,BLACK,Yes,No,Manhattan,10022

In [4]:
# Get row # and column #
df.shape

(81542, 11)

In [5]:
# There are empty data in dog name, gender, colors...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81542 entries, 0 to 81541
Data columns (total 11 columns):
dog_name              77517 non-null object
gender                81480 non-null object
breed                 81542 non-null object
birth                 81542 non-null object
dominant_color        80771 non-null object
secondary_color       56014 non-null object
third_color           16621 non-null object
spayed_or_neutered    81542 non-null object
guard_or_trained      81542 non-null object
borough               81542 non-null object
zip_code              81542 non-null int64
dtypes: int64(1), object(10)
memory usage: 6.8+ MB

In [6]:
# A lot of dog names are null...
df.isnull().sum()

dog_name               4025
gender                   62
breed                     0
birth                     0
dominant_color          771
secondary_color       25528
third_color           64921
spayed_or_neutered        0
guard_or_trained          0
borough                   0
zip_code                  0
dtype: int64

In [7]:
# Fill in only dog_name column with 'ZZZZZ' 
df.fillna(value={'dog_name':'ZZZZZ'}, inplace=True)

In [9]:
# No more nulls
df.isnull().sum()

dog_name                  0
gender                   62
breed                     0
birth                     0
dominant_color          771
secondary_color       25528
third_color           64921
spayed_or_neutered        0
guard_or_trained          0
borough                   0
zip_code                  0
dtype: int64

In [10]:
# There are duplicates...
print(sum(df.duplicated()))

56

In [11]:
# Drop duplicates
df.drop_duplicates(inplace=True)

In [13]:
print(df.nunique())

dog_name              13803
gender                    2
breed                   138
birth                   267
dominant_color           19
secondary_color          19
third_color              19
spayed_or_neutered        2
guard_or_trained          2
borough                   5
zip_code                225
dtype: int64

In [17]:
# Check borough names
df['borough'].unique()

array(['Manhattan', 'Bronx', 'Queens', 'Staten Island', 'Brooklyn'],
      dtype=object)

In [27]:
# Each borough's count
df.groupby('borough').count()['dog_name']

borough
Bronx             9280
Brooklyn         19324
Manhattan        26015
Queens           17489
Staten Island     9378
Name: dog_name, dtype: int64

In [16]:
# Save each borough's file into CSV
# Do not use index.
df.to_csv('CSV_files\\NY_Dogs_cleaned.csv', index=False)

"\ndf_brooklyn.to_csv('CSV_files\\NY_Dogs_brooklyn.csv')\n"

<a id='import'></a>
## Import into MySQL

I used GUI tool <a href='https://www.heidisql.com/'>HeidiSQL</a>.

I learned about HeidiSQL from this article: https://stackoverflow.com/questions/3635166/how-to-import-csv-file-to-mysql-table

Sanity Check - 


>  SELECT COUNT(dog_name) FROM ny_dogs where borough = 'Manhattan';
>  ->> 26015

Looks good.